/* Mobile responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
}

body {
  background-color: #d0e1f3;
  /* width:768px; */
  height: 100vh;
  /*height:1024px*/
}

button.dayEvent {
  /* border: 0; */
  display: flex;
  flex-direction: column;
  padding: 2px;
  height: 95%;
  width: 100%;
}

h2 {
  background-color: aliceblue;
  padding: 2%;
  text-align: center;
  width: 100%; 
}

h5 {
  background-color: azure;
  font-size: large;
  margin: 0;
  text-align: center;
}

input {
  font-size: 24px;
  margin: 0px 10px;
}

label {
  display: flex;
  font-size: 24px;
  margin: 10px;
}

Link,
a {
  text-decoration: none;
  color: black;
}

/* .banner{
  background-color:cornflowerblue;
  color: aliceblue;
  padding: 5px;
  text-align: center;
} */

/* For Calendar.js */
.calendar {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
   width: 100%; 
}

.day {
  /* border: navy 3px solid; */
  margin: 1%;
  /* padding: 1%; */
  height: 300px;
  width: 67px;
}

.event {
  background-color: #10739e;
  border: 2px solid rgb(22, 22, 136);
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  margin: 10px 0;
  border-radius: 3px;
}

.gridcolumn {
  padding: 0px;
}

.column {
  border-bottom: 2px solid gray;
  display: grid;
  margin: 0px;
  padding: 20px 0px;
}

.schedule {
  background-color: red;
  position: relative;
  top: -30%;
}

/* Activities */
.activities {
  margin-right: 5%;
}
.info {
  background-color: lightblue;
  border-radius: 7px;
  margin-top: -50px;
  margin-left : 5px;
  margin-right : 5px;
  padding: 5%;
  border: #10739e 2px solid;
  height: 100px;
  width: 200px;
  cursor: pointer;
}
.info2{

  background-color: lightblue;
  border-radius: 7px;
  margin-top: -5px;
  margin-left : 5px;
  margin-right : 5px;
  padding: 5%;
  border: #10739e 2px solid;
  height: 100px;
  width: 200px;
  cursor: pointer;

}

.info-panels {
  display: flex;
  justify-content: center;
   padding: 2%; 
}

/* Navbar */
.navbar {
  background-color: dodgerblue;
  border: 3px solid dodgerblue;
  color: white;
  font-size: larger;
  font-weight: bold;
  height: 80px;
  margin: 0;
  justify-content: center;
  width: 100%;
}

/* Schedule Evnet Form */
.formButton {
  background-color: #10739e;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  /* margin-right: 100px; */
  padding: 5px;
  width: 100px;
}

.formButtons {
  display: flex;
  justify-content: space-evenly;
}

.scheduleEvent {
  border: 2px solid #10739e;
  border-radius: 5px;
  background-color: white;
  margin: 15px;
  margin-top: -40px;
 
}
.label{
  margin:5px;
  font-size: .2em;
}
.formInput{
font-size: 1em;
height: 17px;
width: 150px;
}
p{
  margin-top: -1px
}
.scheduleExercise {
  background-color: lightblue;
  display: grid;
  padding: 10px;
  margin: 10px;
}

#scheduleTitle {
  text-align: center;
  width: 95%;
}
.button{
  background-color: lightblue;
  border: 0px;
  margin-top:-10px;
  
}
.time {
  display: flex;
  margin: 0;
  padding: 0;
}
